#register-container{
    position: absolute;
    z-index: 100;
    background-color: transparent;
    width: 100%;
    max-height: 10em;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    justify-content: start;
    top: 30%;
    display: none;

}
#register-form{
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1em;
    margin: 1em;
    
    max-height: 45em;
    width: 50%;
    backdrop-filter: blur(5px);
    border-radius: 1em;
    border: 0.08em solid black;
    transition: 0.2s all;
}
#register-form h2{
    color: rgba(7, 114, 255, 0.795);
}
#register-submit-btn{
    width: 80%;
    margin: 1em;
    background-color: transparent;
    border: 0.08em solid black;
    padding: 0.5em 0;
    border-radius: 1em;
    font-weight: bold;
    transition: 0.2s all;
}
#register-form #register-submit-btn:hover{
    width: 80%;
    margin: 1em;
    background-color: rgba(6, 125, 194, 0.521);
    border: 0.08em solid transparent;
    padding: 0.5em 0;
    border-radius: 1em;
    transition: 0.2s all;
}
#register-form a{
    font-size: 0.8em;
    align-self: flex-end;
}
#register-form label{
    padding: 1em;
    color: white;

}
#register-email{
    width: 70%;
}
#register-password{
    width: 70%;
}
#register-fn{
    width: 100%;
}
#register-ln{
    width: 100%;
}
#register-nationality{
    width: 100%;
}
#register-age{
    width: 100%;
}
#register-close{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
   color: rgb(247, 113, 80);;
    width: 2em;
    height: 2em;
    border: 0.08em solid rgb(247, 113, 80);;
    padding: 0.5em 0;
    border-radius: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    justify-self: start;
    margin-bottom: 2em;
    background-color: transparent;
    transition: 0.2s all;
}
#register-close:hover{
    color:white;
    border: 0.08em solid transparent;
    background-color: rgb(247, 113, 80);
    transition: 0.2s all;

}
.slider{
    transform:translateY(-200px);
}
.opaque{
    opacity: 1 !important;
    transition: 0.2s all;
}
#additional-details{
display:flex;
flex-direction: row;
align-items: center;
text-align: center;
justify-content: center;
width: 100%;
}
#other-additional-details{
    display:flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    
}
.holder{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 1em;
}