
#section4{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-self:center;
    height: auto;
    width: 100%;
    background-size: cover;
    border-radius: 1em 1em 0 0;
    align-items: center;
    justify-content: center;
    padding: 5em;
}
#tunis{
    background-image:url('../assets/tunis.jpg') ;

}
#hammamet{
    background-image:url('../assets/hammamet.jpg') ;
    
}
#tataouin{
    background-image:url('../assets/tataouin.jpg') ;
    
}
#tataouin2{
    background-image:url('../assets/tataouin2.jpg') ;
    
}
#hotel-scroll::-webkit-scrollbar{
    background-color: transparent;
    border: transparent;

}
#hotel-scroll{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    padding-bottom: 0.1em;
  transition: scroll-behavior 0.3s; 
}
#scroll-container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
}
.hotel-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
    min-width: 10em;
    height: 12em;
    border-radius: 1em;
    margin: 0 2em;
    cursor: pointer;
}
.hotel-card h5{
    font-weight: 100;
}
.hotel-pic{
    position: relative;
    border-radius: 1em;
    align-self: flex-start;
    justify-self: self-start;
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.08em solid black;
    transition:0.2s all;
    
}
.hotel-card:hover .hotel-pic{
    min-height: 7em;
    border-radius: 1em 1em 0 0 ;
    
    transition:0.2s all;

}
.hotel-card:hover h5{
    color:rgba(0, 119, 255, 0.863);
    transition:0.2s all;
    
}

.hotel-card:hover h4{
    color:rgba(0, 119, 255, 0.863);
    transition:0.2s all;
    
}
#left-scroll{
    position: absolute;
    height: 2em;
    width:  2em;
    border-radius: 20em;
    border: 0.08em solid black;
    text-align: center;
    left: 0%;
    top: 40%;
    cursor: pointer;
    z-index: 100;
    background-image: url("../assets/left.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#right-scroll{
    position: absolute;
    height: 2em;
    width:  2em;
    border-radius: 20em;
    border: 0.08em solid black;
    text-align: center;
    right: 0%;
    top: 40%;
    cursor: pointer;
    z-index: 100;
    background-image: url("../assets/right.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}