#booking-conditions{
    height: 13em;
    width:  95%;
    overflow: hidden auto;
    position: relative;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 0.08em solid black;
    border-radius: 0.4em;
    margin:  0.5em;
    background-color: rgba(255, 46, 46, 0.733);
    padding: 0 1em;
    color: white;
}
#booking-conditions h3{
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
}
#booking-conditions ol{
    padding-left: 1em;
    color: white;
    text-align: start;
}
#booking-conditions li{
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    list-style:decimal;
    padding: 1em;
}